@import "../../_mixins";

.about {
  min-width: 352px;
  min-height: 800px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include desktop {
    max-width: 1272px;
    min-height: 756px;
    margin: 40px auto;
    flex-direction: row;
    text-align: left;
  }
  .about-first-blok {
    position: relative;
    
    &__title {
      @include title(26px);
      margin: 16px 0;
      @include desktop {
        @include title(36px);
        margin: 10px 0;
      }
    }
    &__subtitle {
      @include subtitle(26px);
      @include desktop {
        @include subtitle(36px);
        margin-bottom: 32px;
      }
    }

    &__img {
      max-width: 337px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 140px 60px;
      margin: 36px 0 51px;
      z-index: 10;
      position: relative;
      @include desktop {
        max-width: 524px;
        border-radius: 240px 100px;
        margin: 65px 0 0 0;
      }
    }
    &__vector7 {
      display: none;
      @include desktop {
        display: block;
        @include vector(27%, -18%, 1440px, 100%);
      }
    }
    &__vector8 {
      display: none;
      @include desktop {
        display: block;
        @include vector(67%, -9%, 1440px, 100%);
      }
    }
    &__vectorString {
      display: none;
      @include desktop {
        display: block;
        @include vector(11%, 53%, 1440px, 100%);
      }
    }
    &__vectorArrow {
      display: none;
      @include desktop {
        display: block;
        @include vector(67px, 434px, 1440px, 100%);
      }
    }
  }

  .about-second-blok {
    @include desktop {
      min-height: 762px;
    }
    &__description_top {
      display: none;
      @include desktop {
        @include description(650px, 16px, 141px);
        display: block;
        margin-top: 10px;
      }
    }
    &__title {
      display: none;
      @include desktop {
        @include title(36px);
        margin: 10px 0;
        display: block;
      }
    }
    &__subtitle {
      display: none;
      @include desktop {
        @include subtitle(36px);
        margin-bottom: 32px;
        display: block;
      }
    }
    &__description {
      @include description(352px, 12px, 34px);
      text-align: left;
      @include desktop {
        @include description(630px, 16px, 28px);
      }
    }

    &__button {
      @include button(276px, 14px, 17px);
      text-align: center;
      margin: 0 auto;
      @include desktop {
        @include button(214px, 12px, 15px);
        margin-left: 0;
      }

      &:hover {
        @include buttonHover();
      }
    }
  }
}
