@import "../../_mixins";

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;

  .technologies_item {
    max-width: 240px;
    transition: transform 1s ease;
    &:hover{
      transform: rotate(360deg);
    }
    
    @include desktop {
      max-width: 282px;
    }
  }

 }
