@import "../../_mixins";

.services-page {
  max-width: 1278px;
  margin: 50px auto;
  position: relative;
  z-index: 25;

  &__string {
    position: absolute;
    top: 11%;
    left: 22%;
  }
  &__arrow {
    position: absolute;
    top: 62.5px;
    left: 437px;
  }
 
  .services-page__main {
    display: flex;
    justify-content: space-between;
    text-align: left;
    &_titles {
      .services-page__main_title {
        @include title(36px);
      }
      .services-page__main_subtitle {
        @include subtitle(36px);
        margin-top: 15px;
      }
    }

    &_description {
      @include description(652px, 16px, 107px);
    }
  }

  .services-page__cards {
    display: flex;
    justify-content: space-between;
  }
}
