@import "../../_mixins";

.services-page {
  max-width: 1278px;
  margin: 50px auto;
  position: relative;
  z-index: 25;

  &__string {
    display: none;
    @include desktop {
      display: block;
      position: absolute;
      top: 11%;
      left: 22%;
    }
  }
  &__arrow {
    display: none;
    @include desktop {
      display: block;
      position: absolute;
      top: 62px;
      left: 437px;
    }
  }

  .services-page__main {
    text-align: center;
    @include desktop {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }

    &_titles {
      .services-page__main_title {
        @include title(26px);
        @include desktop {
          @include title(36px);
        }
      }
      .services-page__main_subtitle {
        @include subtitle(26px);
        margin: 16px auto 26px;
        @include desktop {
          @include subtitle(36px);
          margin: 15px 0 0;
        }
      }
    }

    &_description {
      display: none;

      @include desktop {
        @include description(652px, 16px, 107px);
        display: block;
      }
    }
  }

  .services-page__cards {
    display: flex;
    justify-content: space-between;
  }
}
