@import "../../_mixins";
@import "../../variables";

.service-card{
  width: 310px;
  height: 520px;
  margin: 0 auto;
  background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
  border-radius: $borderRadius;
  align-items: center;
  align-content: space-between;
  padding: 10px;
    @include desktop{
      height: 510px;
  }

  &__border{
    max-width: 219px;
    min-height: 219px;
    margin: 13px auto 21px;
    position: relative;
    background: rgba(14, 14, 14, 0.32);
    border-radius: 50%;

    .service-card__image{
      position: absolute;
      max-width: 191px;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .service-card__vector{
      position: absolute;
      bottom: -99%;
      left: 14%;
    }
  }
  &__title{
    @include title(24px);
    margin-bottom: 39px;
  }

  &__description{
    @include description(250px, 12px, 35px);
    text-align: left;
    margin: 0 auto 35px;
    
  }

  &__button{
    @include button(250px, 14px, 17px);
    margin: 0 auto 30px;
    @include desktop{
       @include button(154px, 12px, 15px);
       margin: 0 auto;
    }
    &:hover {
       @include buttonHover()
      }
  }
}