@import "../../_mixins";

.tech-page {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  @include desktop {
    max-width: 1278px;
    height: 100vh;
    margin: 90px auto -300px;
  }

  .tech-page__main {
    position: relative;
     
    .tech-page__main_img {
      max-width: 348px;
      min-height: 163px;
      background: #211e2e;
      box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
      border-radius: 60px;

      @include desktop {
        max-width: 1278px;
        border-radius: 160px;
      }
    }

    .tech-page__main_title {
      @include title(16px);
      position: absolute;
      top: 34%;
      left: 18%;

      @include desktop {
        @include title(36px);
        top: 34%;
        left: 28%;
      }
    }
    .tech-page__main_subtitle {
      @include subtitle(24px);
      position: absolute;
      top: 51%;
      left: 20%;
      @include desktop {
        @include subtitle(36px);
        top: 51%;
        left: 35%;
      }
    }
  }

  .tech-page__dropdown-max {
    display: none;
    @include desktop {
      display: block;
      width: 100px;
      height: 100px;
      background: rgba(14, 14, 14, 0.32);
      border-radius: 50%;
      position: relative;
      margin: -55px auto;
      z-index: 25;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.5);
      }
    }

    .tech-page__dropdown-min {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
    }

    .tech-page__dropdown {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-duration: 0.2s;
    }
    .tech-page__dropdown_active {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: scaleY(-1);
      transition-duration: 0.2s;
    }
  }

  .tech-page__technologies {
    margin: 30px auto;
    max-width: 380px;

    @include desktop {
      margin: 0 auto;
      max-width: 1260px;
      align-items: center;
      align-content: center;
      display: flex;
      gap: 50px;
      justify-content: space-between;

      &.fade-in {
        opacity: 0;
        animation: fadeIn 2s ease forwards;
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
