@import "../../_mixins";
@import "../../_variables";

.join {
  max-width: 1275px;
  min-height: 973px;
  margin: 25px;
  padding: 45px 0;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  position: relative;
  z-index: 25;
  @include desktop {
    margin: 30px 84px;
    padding: 90px 102px 84px;
    border-radius: 100px;
  }

  .join-mobile-vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9%;
    left: 33%;
    z-index: -2;
  }
  .join-desktop-vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 33%;
    z-index: -2;
  }

  &__title {
    @include title(24px);
    @include desktop {
      @include title(36px);
    }
  }

  &__subtitle {
    @include subtitle(24px);
    margin: 40px auto 36px;
    @include desktop {
      @include subtitle(36px);
      margin: 51px auto 65px;
    }
  }

  &__form {
    .join__form__input,
    .join__form__input_subject,
    .join__form__input_area {
      min-width: 300px;
      padding: 18px 29px;
      margin-bottom: 22px;
      border: 2px solid $mainColor;
      border-radius: 40px;
      background-color: transparent;
      color: $mainColor;
      @include desktop {
        width: 520px;
        padding: 27px 42px;
        margin: 18px 5px;
      }
      &:hover,
      &:active,
      &:focus {
        border: 4px solid $activeColor;
        padding: 16px 28px;
        outline: none;
        @include desktop {
          padding: 24px 40px;
        }
        &::placeholder {
          color: $activeColor;
        }
      }
      &::placeholder {
        font-size: 14px;
        line-height: 17px;
        color: $mainColor;
      }
    }
    .join__form__input_subject {
      @include desktop {
        width: 1058px;
      }
    }

    .join__form__input_area {
      min-height: 219px;
      resize: none;
      
            &::placeholder {
        font-size: 14px;
        line-height: 17px;
        color: $mainColor;
        
      }
   
      @include desktop {
        width: 1058px;
        min-height: 210px;
      }
    }
    .join__form__button {
      @include button(292px, 14px, 17px);
      margin: 52px auto;
      position: relative;
      z-index: 25;
      @include desktop {
        @include button(292px, 14px, 17px);
        margin: 51px auto 0;
      }

      &:hover {
        border: 2px solid #ffffff;
        padding: 16px 0px;
        color: #ffffff;
        background: #302c42;
      }
    }
  }
  .invalid, .invalid_subject, .invalid_area {
    min-width: 300px;
    padding: 16px 28px;
    margin-bottom: 22px;
    border: 3px solid red;
    border-radius: 40px;
    background-color: transparent;
    color: red;
    &:hover,
    &:active,
    &:focus {
      border: 4px solid $activeColor;
      padding: 16px 28px;
      outline: none;
      &::placeholder {
        color: $activeColor;
      }
    }
    @include desktop {
      width: 520px;
      padding: 25px 42px;
      margin: 18px 5px;
      &:hover,
      &:active,
      &:focus {
        padding: 24px 40px;
      }
    }
  }
  .invalid_subject{
 @include desktop {
        width: 1058px;
      }
  }
  .invalid_area{
     min-height: 219px;
      resize: none;
      @include desktop {
        width: 1058px;
        min-height: 210px;
      }
  }
  .join__success {
    // width: 380px;
    // height: 100px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  
  z-index: 9999;
}

.join__success p {
  width: 350px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: $borderRadius;
 padding: 25px;
 font-weight: 700;
font-size: 15px;
 color: #343045;
 @include desktop{
  width: 500px;
  font-size: 20px;
 }
}
}
