@import "../../_mixins";

.contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
    
 }
 
.contact{
  max-width: 195px;
  
    &__image{
    margin: 20px 8px
     
  }
  
  &__title{
   display: none;
  }

  &__description{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    &:hover{
      text-decoration: underline;
      color: #c0b7e8;
    }
   
    
    }
}


@include desktop() {

  .contacts{
   

 .contact{
   text-align: left;
   max-width: none;
   
    &__image{
    margin: auto 10px;
    align-items: center;
  }
  
  &__title{
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 10px 10px;
    text-align: left;
  }
  &__description{
    
    margin: auto 10px;
    max-width: none;
   
    
    }

  }
  }
}