@import "../../_mixins";
@import "../../variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 25px 20px;
  position: relative;
  z-index: 40;
  @include desktop {
    padding: 50px 84px;
  }

  .header-menu {
    .header-menu-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 43px;
      justify-content: center;
      position: fixed;
      width: 100%;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 0;
      z-index: 40;
      transition: left 1s;
      background-color: transparent;
      @include desktop {
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: auto;
        position: static;
        transition: none;
      }

      .header-menu__link {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: $mainColor;
        position: relative;
        @include desktop {
          
          font-size: 12px;
          line-height: 15px;
        }
      }
      .header-menu__link::after {
        @include link-decoration_after();
      }

      .header-menu__link:hover::after {
        @include link-decoration_hover_after();
      }

      .header-menu__link__active {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: $activeColor;
        text-decoration: none;
        position: relative;
        @include desktop{
          font-size: 12px;
        }
      }
      .header-menu__link__active::after {
        @include link-decoration_after();
        background-color: $activeColor;
      }

      .header-menu__link__active:hover::after {
        @include link-decoration_hover_after();
      }
    }
    .header-menu-list_active {
      display: flex;
      flex-direction: column;
      gap: 42px;
      justify-content: center;
      position: fixed;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: left 1s;
      z-index: 40;
      background-color: #302c42;
      @include desktop{
         display: none;
      }

      .header-menu__link {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: $mainColor;
        position: relative;
       }
       .header-menu__link::after {
       display: none;
      }

      .header-menu__link:hover::after {
        display: none;
      }

      .header-menu__link__active {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: #c0b7e8;
        text-decoration: none;
        position: relative;
      }
      .header-menu__link__active::after {
        display: none;
      }

      .header-menu__link__active:hover::after {
      display: none;
      }
    }
  }

  .navbar-button {
    display: none;
    @include desktop{
      list-style: none;
      display: flex;
      position: static;
      z-index: 40;
       &__button {
        @include button(155px, 12px, 15px);
        margin-left: 45px;
      }
      &__button:hover {
        border: 2px solid $mainColor;
        padding: 15px 0px;
        color: $mainColor;
        background: #302c42;
      }
    }
  }

  .burger-menu {
    display: block;
    width: 33px;
    height: 26px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 40;
    @include desktop{
      display: none;
    }

    & span,
    &::before,
    &::after {
      content: "";
      right: 0;
      position: absolute;
      height: 3.7px;
      background: linear-gradient(90deg, #c0b7e8 -11.84%, #8176af 100%);
      border-radius: 40px;
    }

    &::before {
      width: 100%;
      top: 0;
      transition-duration: 0.2s;
    }

    &::after {
      width: 100%;
      bottom: 0;
      transition-duration: 0.2s;
    }

    & span {
      width: 73%;
      top: calc(50% - 1px);
    }
  }

  .burger-menu_open {
    display: block;
    width: 33px;
    height: 26px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 40;

    & span,
    &::before,
    &::after {
      content: "";
      right: 0;
      position: absolute;
      height: 3.7px;
      background: linear-gradient(90deg, #c0b7e8 -11.84%, #8176af 100%);
      border-radius: 40px;
    }

    &::before {
      width: 100%;
      top: calc(50% - 1.85px);
      transform: rotate(-45deg);
      transition-duration: 0.2s;
    }

    &::after {
      width: 100%;
      top: calc(50% - 1.85px);
      transform: rotate(45deg);
      transition-duration: 0.2s;
    }

    & span {
      width: 0;
    }
  }
}

