@import "./variables";

@mixin desktop() {
  @media (min-width: $breakpoint_xxl) {
    @content;
  }
}

@mixin leptop() {
  @media (min-width: $breakpoint_xl) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint_md) {
    @content;
  }
}

@mixin button($width, $f-size, $l-height) {
  display: block;
  width: $width;
  border: none;
  border-radius: $borderRadius;
  padding: 17px 0px;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-decoration: none;
  margin-left: 38px;
  font-weight: 700;
  font-size: $f-size;
  line-height: $l-height;
  color: #343045;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  position: relative;
  z-index: 50;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

@mixin buttonHover() {
  border: 2px solid $mainColor;
  padding: 16px 0px;
  color: $mainColor;
  background: #302c42;
}

@mixin title($f-size) {
  font-weight: 700;
  font-size: $f-size;
  line-height: 122%;
  color: $mainColor;
  animation-name: title-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  @keyframes title-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin subtitle($f-size) {
  font-weight: 300;
  font-size: $f-size;
  line-height: 122%;
  color: $mainColor;
  animation-name: subtitle-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  @keyframes subtitle-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin description($max-width, $f-size, $marg-bot) {
  font-size: $f-size;
  line-height: 155%;
  color: $mainColor;
  max-width: $max-width;
  margin-bottom: $marg-bot;
}

@mixin vector($top, $left, $width, $height) {
  position: absolute;
  z-index: 2;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin link-decoration_after() {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: $mainColor;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
@mixin link-decoration_hover_after() {
  width: 120%;
}
