$breakpoint_xxl: 1400px;
$breakpoint_xl: 1024px;
$breakpoint_md: 768px;

$mainColor: #ffffff;
$borderRadius: 40px;
// $accentColor: #46b1de;
// $superlightColor: #ffffff;
// $lightColor:  #dde0dc;
// $hoverFooterColor:#0f2d4a;
// $borderRadiusPicture: 100px 100px 100px 240px;