.App {

  min-height: 100vh;
 text-align: center;
  background-color: #302C42;
  
  // для того, щоб рівномірно розташувалось по сторінці + стікі футер
// display: flex;
// flex-direction: column;
 
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root{
  min-height: 100vh;
  background-color: #302C42;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  color: white;
  font-size: 40px;
  text-align: center;
}
