.swiper-home{
  display: flex;
  justify-content: space-between;
  width: 347px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
  align-items: center;
  margin: 53px auto 59px auto;
  padding: 10px;
  position: relative;
  z-index: 25;

  .swiper-button-prev-home{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  left: 2%;
  z-index: 26;
  
 
  }

  .swiper-button-next-home{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35%;
  right: 2%;
  z-index: 26;
 
  }
}
